@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  max-width: 800px;
}

.teaser,
.column,
.feature,
.blog-post-item,
.message {
  background: #ebeff2;
  border-radius: 10px;
  font-size: 2rem;
  line-height: 3;
  margin: 10px 5px;
  text-align: center;
}

.feature {
  height: 100%;
  width: 100%;
}

.grid {
  display: flex;
}

.column {
  flex: 1;
}

.message {
  font-size: 1rem;
}

.innerPost {
  margin: 20px 0;
}